.mnhd-img{
    height: 100px;
    text-align: center;
}
.mnhd-img img{
    height: 100px;
}
#nav-mobile{
    display: none;
}
.nav-item-menu-up img{
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link{
    color: #1b4d96;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #1b4d96;
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    background-color: #1b4d96;
    color: #fff;
}
.navbar{
    padding: 0px;
}
.list_menuheader li a{
    line-height: 50px;
    padding: 0px 8px;
}