* {
    margin: 0px;
    padding: 0px;
}

.table thead {
    background-color: #ccc;
}

h1,
h2,
h6 {
    font-weight: bold;
}

.table-bordered {
    border: 1px solid #000;
}

.ca {
    border: 1px solid;
}

.right {
    border-right: 1px solid;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators {
    bottom: -3rem !important;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

a.active {
    background-color: #1b4d96 !important;
    color: white !important;
}
.maingioithieu p {
    font-weight: 600;
}
.mainsp{
    margin-top: -35px;
}
.nav-link{
    background-color: #f8f9fa;
}