.ttrformtt{
    width: 100%;
}
.tttt_tabtt_main{
    margin-top: 30px;
}
.form-group{
    margin-bottom: 5px;
}
.tttt_ttdh_main{
    background-color: #d0d0d0;
    padding: 15px;
    margin-bottom: 15px;
}
.tttt_ttdh_main_clone{
    background-color: #fff;
    padding: 10px;
}