.h1ttclone{
    color: #1b4d96;
}
.ttclone_img{
    width: 100%;
    text-align: center;
}
.ttclone_img img{
    width: 60%;
    height: 500px;
}
.ttclone_lq{
    position: relative;
    width: 100%;
    border: 0px;
    height: 275px;
    overflow: hidden;
}
.ttclone_lq:hover .ttclone_lq_text{
    transform: scale(1);
    transition: all 1s;
}
.ttclone_lq img{
    /* position: absolute; */
    height: 275px;
}
.ttclone_lq_text{
    position: absolute;
    padding: 0px 15px 0px 0px;
    bottom: 0px;
    transform: scale(0);
    transition: all 1s;
}
.ttclone_lq_text div p a{
    text-align: justify;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 75;
}
.ttclone_lq_text div p a:hover{
    text-decoration: none;
}
.ttclone_lq_text div h5 a{
    color: #fff;
}
.ttclone_lq_text div h5 a:hover{
    text-decoration: none;
    color: #1b4d96;
}