.maintop_stgt{
    background-image: url(../image/af0f876264189f46c609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-top: 30px;
    z-index: -1;
    padding: 0px;
}
/* .container{
    padding: 0px;
} */
.maintop_stgt h2{
    text-align: center;
    color: #fff;
    text-decoration: underline;
}
.maintop_stgt p, .maintop_stgt p span{
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    font-size: 20px;
}
.maintop_stgt p i, .maintop_stgt p a{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 10px;
}
.maintop_h2{
    text-align: center;
    color: #1b4d96;
    text-decoration: underline;
    margin: 30px 0px;
    text-transform: uppercase;
}
.maintop_stcards_clone{
    padding: 0px 5px;
    width: 100%;
    border: 0px;
    text-align: center;
}
.maintop_stcards_clone img{
    width: 50%;
    height: 185px;
    margin: 0px auto;
}
.card-text{
    text-align: justify;
}
.maintop_st_cardimg{
    padding: 1.25rem;
}
.maintop_st_card_clone{
    border: 0px;
}
.maintop_why_video{
    text-align: center;
}
.maintop_st_nv div ul li{
    list-style: none;
}
.maintop_st_nv div ul{
    padding-left: 0px;
}
.maintop_st_nv div ul li a i{
    margin-right: 10px;
}
.maintop_st_nv div ul li a:hover{
    text-decoration: none;
    color: #F4B042;
}
.maintop_st_nv div ul li{
    margin-bottom: 5px;
}
.maintop_st_nv_li_active{
    color: #F4B042;
}
.mainbt_cards_text{
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 80px;
}
.card-title{
    text-align: justify;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 25px;
}
.mainbt_btn{
    width: 100%;
    text-align: center;
}
.maingioithieux p{
    font-weight: 600;
}
.maintintuccard{
    text-align: justify;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 85px;
}
.maintintuccard_btn{
    width: 100%;
    text-align: right;
}
.maintintuc_btn{
    width: 100%;
    text-align: center;
}
.maintintuc_gdv{
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
    margin-bottom: 10px;
}
.maintintuc_gdv_title p{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.maintintuc_link p a{
    text-align: justify;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 25px;
}
.maintintuc_link p a:hover{
    text-decoration: none;
    color: #1b4d96;
}
.maintintuc_down p a{
    color: black;
}
.maintintuc_down p a:hover{
    text-decoration: none;
    color: #1b4d96;
}
.hdsd_menuleft{
    border: 1px solid rgba(0,0,0,.125);
    
}
.hdsd_menuleft ul{
    list-style: none;
}
.hdsd_menuleft_group{
    padding: 0px;
}
.hdsd_menuleft_link, .hdsd_menuleft_link_c2, .hdsd_menuleft_link_last{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    color: #000;
    line-height: 25px;
}
.hdsd_menuleft_link_c2, .hdsd_menuleft_link_last:hover{
    color: red;
    text-decoration: none;
}
.hdsd_menuleft_active{
    background-color: #1b4d96a6;
    color: #fff;
}
.menu_hdsd_last{
    display: none;
}
.menu_hdsd_active{
    display: block;
}
.hdsd_menuleft_link_title{
    line-height: 40px;
    background-color: #1b4d96;
    color: #fff;
}
.htdm_image img{
    height: 100%;
    width: 90%;
}
.htdm_image{
    padding: 1.25rem;
    text-align: right;
}
.htdm_ctn{
    height: 70vh;
    overflow-y: scroll;
}
.hdsd_ft{
    height: 200px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px;
    margin: 10px 15px;
}
.hdsd_ft ul{
    list-style: none;
}