*{
    font-size: 14px;
}
.ft_img{
    padding: 0px;
}
.ft_img img{
    width: 100%;
}
.ft_title div p{
    color: #1b4d96;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
}
.ft_lh{
    text-align: justify;
    margin-left: -15px;
}
.ft_lh span{
    font-weight: 600;
}
.ft_mxh a i{
    font-size: 40px;
    color: #1b4d96;
}
.ft_mxh{
    margin-left: -15px;
}
.ft_center_list p a{
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 20px;
}
.ft_center_list p a:hover{
    color: #1b4d96;
    text-decoration: none;
}
.ft_cpr{
    width: 100%;
    height: 30px;
    background-color: #1b4d96;
    color: #fff;
    text-align: center;
}
.ft_cpr span{
    line-height: 30px;
}