html{
    scroll-behavior: smooth;
}
.h1_center{
    color: #1b4d96;
    text-transform: uppercase;
}
.lh_dc{
    font-size: 20px;
    margin-top: 20px;
}
.lh_dc span{
    font-size: 20px;
}
.lh_form{
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
}
.lh_form h5{
    color: #1b4d96;
}
.lh_image{
    width: 100%;
}
.lh_image img{
    width: 100%;
}
.hdsd_left{
    padding-right: 0px;
}
.hdsd_right{
    padding-left: 0px;
}
.hdsdn{
    display: none;
}
.showhdsd{
    display: block;
}
.footerr{
    background-color: rgba(0,0,0,.125);
    margin-top: 10px;
    padding: 0px;
}
.arrowup{
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 9999;
    background-color: #1b4d96;
    padding: 10px;
    border-radius: 50%;
}
.arrowup a i{
    font-size: 50px;
    color: #fff;
}
section.co-operate #owl-co-operate {
    display: grid;
    grid-template-columns: re;
}
.owl-nav, .owl-dots{
    display: none;
}
